.PasswordDiv{
    padding-left: 2.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.inputTXT{
    padding: 0.6rem;
    max-width: 10rem;
    background-color:#23222e;
    border-radius: 7px;
    border: none;
}
.eyeIcon {
    cursor: pointer;
    font-size: 18px; /* Ajuste o tamanho do ícone */
    color: #333; /* Cor do ícone (personalize) */
  }
  
  /* Estilos para o ícone do olho quando a senha está visível */
  .eyeIconSlash {
    color: #999; /* Cor do ícone quando a senha está visível (personalize) */
  }